@import "tailwindcss";
/* *{
  background-color: #202020;
  color: aliceblue;
} */
@theme {
  /* Define your custom color here */
  --color-main-dark: #202020;
  
}

@layer base {
  body {
    /* Use the variable name defined above */
    @apply bg-main-dark text-slate-100;
  }
}


